<app-default-home-page>
  <main>
    <div class="search-bar">
      <input type="text" placeholder="Search..." [(ngModel)]="filteredClients" (keyup)="onTextChange()">
      <img src="../../../assets/icons8-pesquisar-64.png" alt="search" class="search-icon">
    </div>
    <div class="client-board">
      <div *ngFor="let client of allClients" class="client-card">
          <div class="client-information">
            <img src="../../../assets/icons8-usuário-de-gênero-neutro-100.png" alt="Profile-pic">
            <label class="client-name"><span>{{ client.clientName }}</span></label>
            <label class="pet-name">{{ client.petName }}</label>
          </div>
      </div>
    </div>
  </main>
</app-default-home-page>
