main {
  gap: 20px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
}

.search-bar {
  margin: auto;
  width: 90%;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar input {
  width: 95%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: transparent;
  font-size: 18px;
}

.search-icon {
  margin-left: 10px;
  font-size: 20px;
  width: 25px;
}

.search-icon:hover {
  cursor: pointer;
  opacity: 0.7;
}

.client-card {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 20px;
  margin: 10px;
  width: 20vh;
}

.client-card:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: ease-in 1s;
}

.client-card img {
    /* width: 40px;
    height: 40px;
    cursor: pointer; */
}

.client-information {
  text-align: center;
}


.client-information label {
  font-size: large;
}

.client-information .client-name{
  display: block;
  width: 100%;
}

.client-information .client-name span{
  font-weight: 600;
}
