.schedule-container {
  max-width: 600px;

  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  gap: 8px;
}

.schedule-form{
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}


.edit-form {
  display: flex;
  flex-direction: column;
}

.edit-form form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.schedule-form input,
.edit-form input {
  flex: 1;
  padding: 8px;
  font-size: 14px;
}

.schedule-form button,
.edit-form button {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  background-color: #007bff;
  outline: none;
  color: aliceblue;
}

.schedule-list {
  width: 100%;
  list-style: none;
  padding: 0;
}

.schedule-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.schedule-info p {
  margin: 0;
  font-size: 14px;
}

.schedule-actions button {
  margin-left: 5px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
}

.schedule-actions button:first-child {
  background-color: #007bff;
  color: white;
  border: none;
}

.schedule-actions button:last-child {
  background-color: #dc3545;
  color: white;
  border: none;
}

/* Estilos para o combobox */
select {
  width: 100%; /* Largura completa */
  padding: 12px 20px; /* Padding interno */
  border: 1px solid #ccc; /* Borda leve */
  border-radius: 4px; /* Bordas arredondadas */
  font-size: 16px; /* Tamanho da fonte */
  background-color: #fff; /* Cor de fundo branca */
  color: #333; /* Cor do texto */
  cursor: pointer; /* Cursor de ponteiro */
  transition: border-color 0.3s ease; /* Animação suave na borda */
}

/* Foco no combobox */
select:focus {
  border-color: #4CAF50; /* Borda verde ao focar no campo */
  outline: none; /* Remove o contorno padrão */
}

/* Estilo para o combobox quando desabilitado */
select:disabled {
  background-color: #f1f1f1; /* Cor de fundo quando desabilitado */
  color: #b3b3b3; /* Cor do texto quando desabilitado */
  cursor: not-allowed; /* Cursor de "não permitido" quando desabilitado */
}
