<app-default-home-page>
  <main>
    <form>
      <div>
        <label for="clientName">Nome:</label>
        <input type="text" name="clientName">
      </div>

      <div>
        <label for="">Email:</label>
        <input type="text" name="">
      </div>

      <div>
        <label for="">CPF:</label>
        <input type="text" name="">
      </div>

      <div>
        <label for="">Data de Nascimento</label>
        <input type="date" name="">
      </div>

      <div>
        <button>Cadastrar</button>
      </div>
    </form>
  </main>
</app-default-home-page>
