nav {
  width: 250px;
  height: 80vh;
  /* margin-top: 40px; */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  padding: 10px;
  font-size: 20px;
  text-align: left;
  border: 1px solid #ccc;
  background-color: #E5E5E5;
  border: none;
}

nav li:hover {
  background-color: #8B4C3A; /* Cor de fundo marrom */
  color: #ffffff; /* Cor de texto clara */
  cursor: pointer;
}

div{
  display: flex;
  height: 100% ;
}

main{
  height: 100% ;
  margin: 10px auto;
}
