main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

form {
  background-color: #fff;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 20px;
  max-width: 600px;
  width: 100%;
}

.main-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.left-side {
  width: 50vh;
}

.image-container {
  position: relative;
  width: 100px;
  height: 100px;
  margin: auto;
}

.image-preview {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.upload-icon-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #4CAF50;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.upload-icon-wrapper input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.upload-icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.upload-icon-wrapper:hover{
  cursor: pointer;
}

.right-side {
  width: 50vh;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.enabled-button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.enabled-button:hover {
  background-color: #0056b3;
}

.disabled-button {
  background-color: #b6b6b6;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
}

.mensagem-erro {
  font-size: 12px;
  margin-left: 5px;
  color: red;
  margin-top: -10px;
  margin-bottom: 20px;
}

/* Estilos para o botão */
button {
  background-color: #4CAF50; /* Cor de fundo verde */
  color: white; /* Texto branco */
  border: none; /* Sem borda */
  padding: 12px 24px; /* Padding interno para deixar o botão maior */
  text-align: center; /* Centraliza o texto */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Faz o botão se comportar como um bloco */
  font-size: 16px; /* Tamanho da fonte */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
  border-radius: 4px; /* Bordas arredondadas */
  transition: background-color 0.3s ease; /* Animação suave ao passar o mouse */
  margin: 16px 0;
}

button:hover {
  background-color: #45a049; /* Cor do fundo ao passar o mouse */
}

button:disabled {
  background-color: #c7c7c7; /* Cor para quando o botão está desabilitado */
  cursor: not-allowed; /* Cursor de "não permitido" quando o botão está desabilitado */
}

/* Estilos para o combobox */
select {
  width: 100%; /* Largura completa */
  padding: 12px 20px; /* Padding interno */
  border: 1px solid #ccc; /* Borda leve */
  border-radius: 4px; /* Bordas arredondadas */
  font-size: 16px; /* Tamanho da fonte */
  background-color: #fff; /* Cor de fundo branca */
  color: #333; /* Cor do texto */
  cursor: pointer; /* Cursor de ponteiro */
  transition: border-color 0.3s ease; /* Animação suave na borda */
}

/* Foco no combobox */
select:focus {
  border-color: #4CAF50; /* Borda verde ao focar no campo */
  outline: none; /* Remove o contorno padrão */
}

/* Estilo para o combobox quando desabilitado */
select:disabled {
  background-color: #f1f1f1; /* Cor de fundo quando desabilitado */
  color: #b3b3b3; /* Cor do texto quando desabilitado */
  cursor: not-allowed; /* Cursor de "não permitido" quando desabilitado */
}

/* Estilos para a mensagem de erro */
.mensagem-erro {
  color: red; /* Cor do texto de erro */
  font-size: 12px; /* Tamanho da fonte */
  font-weight: bold; /* Negrito para dar ênfase */
  margin-top: 4px; /* Distância do campo de input */
}

/* Estilos para o combobox com erro */
select.ng-invalid.ng-touched {
  border-color: red; /* Altera a cor da borda para vermelho quando o campo está inválido */
}

/* Estilo para o label do combobox */
label {
  font-weight: bold;
  margin-bottom: 5px; /* Distância do label para o combobox */
  display: block; /* Faz o label ficar em linha separada */
}
